{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2022",
    "keepClassNames": true,
    "externalHelpers": false,
    "loose": false
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": false,
  "minify": false
}